:root {
    --color-dark-background: #161616;
    --color-dark-foreground: #222222;
    --color-dark-foreground-2: #474747;
    --color-dark-foreground-opa: #d1d1d1a2;
    --color-dark-text-highlight: #ebeae9;
    --color-dark-text: #d6d5d5; 
    --color-highlight-3: #ffcc70;  
}

/* Dark mode */
.dark h1 {
    color: var(--color-dark-text-highlight);
}
.dark #stopWatchTime{
    color: var(--color-highlight-3);
    background-color: var(--color-dark-background);
}
.dark p {
    color: var(--color-dark-text);
}
.dark hr {
    border-color: var(--color-background);
}

.dark {
    background-color: var(--color-dark-background);
}
.dark input {
    color: var(--color-highlight-3);
    background-color: var(--color-dark-background);
    border-color: var(--color-highlight-3);
}
.dark label,
.dark h2 {
    color: var(--color-background);
}

.dark aside {
    background-color: var(--color-dark-foreground-opa);
}

.dark .slider {
    background-color: var(--color-dark-foreground-2);
}
.dark .slider:before {
    background-color: var(--color-dark-background);
}

.dark input:checked + .slider {
    background-color: var(--color-highlight-3);
}
.dark .task {
    background-color: var(--color-dark-foreground);
}

.dark .numberInputs button {
    color: var(--color-dark-background);
}
.dark .numberInputs button:hover {
    color: var(--color-highlight-3);
}

.dark .stopwatchEdit button {
    color: var(--color-dark-background);
}
.dark .stopwatchEdit button:hover {
    color: var(--color-highlight-3);
}

/* Dark mode - Icon */
.dark .iconSimple {
    background-color: var(--color-dark-background);
    color: var(--color-highlight-3);
}

.dark .iconSimple:focus,
.dark .iconSimple:hover {
    background-color: var(--color-highlight-3);
    color: var(--color-dark-background);
}

.dark .tooltipText {
    background-color: var(--color-highlight-3);
    color: var(--color-dark-foreground);
}